* {
  box-sizing: border-box;
}

body {
  height:100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fef2fc;
  background:  #03101f;
  line-height: 1.5;
}

.homepage {
  background: url('background.jpg');
  background-size: cover;
  padding: 15px;
}

.container {
  display: grid;
  grid-template-rows: 250px 1fr;
  min-height: 100vh;
}

.root{
  background: white;
  color: #03101f;
  padding: 25px 35px 0;
}

h1 {
  font-size: 2em;
  padding-bottom: 20px;
}

p {
  padding-bottom: 15px;
}

button{
  background: transparent;
  color:  #dab9e1;
  text-transform: uppercase;
  border: 2px solid #dab9e1;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: .8em;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background:#dab9e1;
  color:  #03101f;
}

.input-container{
  display: grid;
  align-items: center;
  justify-content: center;
}

input {
  background: white;
  width: 800px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 12px;
}